<ul class="navbar-nav mr-auto">
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'detail']">Detail</a>
  </li>
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'posts']">Posts</a>
  </li>
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'terms']">Terms</a>
  </li>
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'votes']">Votes</a>
  </li>
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'laws']">Laws</a>
  </li>
  <li [routerLinkActive]="'active-route'" class="nav-item">
    <a class="nav-link" [routerLink]="['server',serverID,'trials']">Trials</a>
  </li>
</ul>
